<div class="container">
  <div class="row">
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-md-4 col-lg-3">
      One of four columns
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3">
      One of four columns
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-md-4 col-lg-3">
            One 
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-3">
            two
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-3">
           three
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-3">
            four
          </div>
        </div>
      </div>
      
      
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3">
      One of four columns
    </div>
  </div>
</div>

